.reihe {
    text-align: center;
}

.bild {
    display: inline-grid;
    width: 150px;
    height: 150px;
}
h1{
    height: 16px;
    color: red;
    text-align: center;
}

h2 {
    height: 16px;
    color: red;
}
#ergebnis {
    color: red;
    font-size: 20px;
}